<h1 style="text-align: center;">Latest Orders by Site</h1>

<div style="display: flex; justify-content: center;">
  <table style="border: 1px solid #000; width: 80%; text-align: center; border-collapse: collapse;">
    <tr style="background-color: #f2f2f2;">
      <th style="padding: 12px; border: 1px solid #000;">Sending Facility</th>
      <th style="padding: 12px; border: 1px solid #000;">Tracking Number</th>
      <th style="padding: 12px; border: 1px solid #000;">Order Created (EMR)</th>
      <th style="padding: 12px; border: 1px solid #000;">Order Created (NLIMS)</th>
    </tr>
    <% @latest_orders_by_site.each do |order| %>
      <tr>
        <td style="padding: 12px; border: 1px solid #000;"><%= order[:sending_facility] %></td>
        <td style="padding: 12px; border: 1px solid #000;"><%= order[:tracking_number] %></td>
        <td style="padding: 12px; border: 1px solid #000;"><%= order[:date_order_created_emr] %></td>
        <td style="padding: 12px; border: 1px solid #000;"><%= order[:date_order_created_in_nlims] %></td>
      </tr>
    <% end %>
  </table>
</div>
