emr:
  active: true
  protocol: 'http://localhost'
  port: 3002
  username: local_nlims_lighthouse233
  password: local_nlims_lighthouse3
mahis:
  active: false
  protocol: 'http://localhost'
  port: 3002
  username: local_nlims_lighthouse233
  password: local_nlims_lighthouse3
